.Card {
  backdrop-filter: blur(2px);
  border: 1px solid rgba(153, 153, 153, 0.497);
  border-radius: 20px;
  padding: 10px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.title {
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
}

.card-content {
  color: white;
  text-align: justify;
  text-justify: inter-word;
  font-size: 18px;
  text-transform: capitalize;
}

.editButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 8px;
}

.editButton:hover {
  border-color: #646cff;
}
